@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Secular+One&family=Varela+Round&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*font-family: 'Bangers', cursive;*/
/*font-family: 'Secular One', sans-serif;*/
/*font-family: 'Varela Round', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

html, body
{
    background-color: #343a40;
}

body 
{
    color: #5a5a5a;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar
{
    display: block;
    width: 0.7em;
}

.scrollbar::-webkit-scrollbar-track
{
    background-color: #494b54;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.5);
    border-right: none;
    border-left: none;
    transition: background-color 1000ms;
}


.navbar-brand
{
    display: block;
    max-height: 9vh;
    max-width: 9vh;
    width: 8vh;
    height: auto;
}

.navbarButtonSizes
{
    width: 100%;
}

@media (max-width: 992px)
{
    .navbarButtonSizes
    {
        width: 20%;
    }

    .navbarButtonSizes li
    {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        background-color: #343a40;
    }
}

.nav-item
{
    margin: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #343a40;
    border-radius: 10px;
}

.nav-item:hover
{
    background-color: #ffffff;
    transition: background-color 400ms;
}

.nav-item:hover svg
{
    fill: #14141d;
    transition: fill 400ms;
}


ul .active
{
    border-color: slategray;
    background-color: #4d5453;
}

.fullScreen
{
    position: relative;
    height: 100vh;
    padding-top: 10vh;
}

.screenArea 
{
    position: relative;
    height: 90vh;
}

.carousel-caption 
{
    z-index: 10;
}

.carousel-item 
{
    height: 90vh;
}

.carousel-item > img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.grow
{
    flex-grow: 1;
    transition: all 400ms ease;
}

.shrink
{
    flex-shrink: 1;
    transition: all 400ms ease;
}

.zeroMarginPadding
{
    margin: 0;
    padding: 0;
}

.gameShowBorder 
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: outset;
    border-width: 5px;
    border-color: aliceblue;
}

.gameShowImageHorizontal
{
    height: 90vh;
    transition: all 400ms ease;
}

.gameShowImageHorizontal img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.gameShowImageVerticalExpanded
{
    width: 100vw;
    height: 70vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalExpanded img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gameShowImageVerticalCollapsed
{
    width: 100vw;
    height: 10vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalCollapsed img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bd-placeholder-img 
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newsCardContainer
{
    max-height: 20%;
}

@media (min-width: 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }

    .newsCardContainer
    {
        max-height: 100%;
    }
}


.newsCardContainer .card
{
    max-height: 100%;
}

.card-header 
{
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
    padding: 2% 5%;
}


@media (max-width: 992px)
{
    .card-header h3, .card-header h5
    {
        font-size: 1.25rem;
        margin: 5px;
    }
}

.title
{
    font-family: 'Bangers', cursive;
    letter-spacing: 1rem;
}

.menu
{
    font-family: 'Secular One', sans-serif;
}

.text
{
    font-family: 'Varela Round', sans-serif;

}

.nav-link
{
    font-family: 'Secular One', sans-serif;
}

.card-title
{
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

.card-subtitle
{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.custom-scrollbar
{
    position: absolute;
    width: 800px;
    height: 400px;
    overflow-y: auto;
}