html, body
{
    background-color: #343a40;
}

body 
{
    color: #5a5a5a;
    overflow-x: hidden;
}

.navbar-brand
{
    display: block;
    max-height: 9vh;
    max-width: 9vh;
    width: 8vh;
    height: auto;
}

.navbarButtonSizes
{
    width: 100%;
}

@media (max-width: 992px)
{
    .navbarButtonSizes
    {
        width: 20%;
    }

    .navbarButtonSizes li
    {
        padding-left: 10px;
        text-align: left;
    }
}

.nav-item
{
    margin: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #343a40;
    border-radius: 10px;
}

.nav-item:hover
{
    background-color: #494b54;
    transition: background-color 400ms;
}

ul .active
{
    border-color: slategray;
}

.fullScreen
{
    position: relative;
    height: 100vh;
    padding-top: 10vh;
}

.screenArea 
{
    position: relative;
    height: 90vh;
}

.carousel-caption 
{
    z-index: 10;
}

.carousel-item 
{
    height: 90vh;
}

.carousel-item > img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.grow
{
    flex-grow: 1;
    transition: all 400ms ease;
}

.shrink
{
    flex-shrink: 1;
    transition: all 400ms ease;
}

.zeroMarginPadding
{
    margin: 0;
    padding: 0;
}

.gameShowBorder 
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: outset;
    border-width: 5px;
    border-color: aliceblue;
}

.gameShowImageHorizontal
{
    height: 90vh;
    transition: all 400ms ease;
}

.gameShowImageHorizontal img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.gameShowImageVerticalExpanded
{
    width: 100vw;
    height: 70vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalExpanded img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gameShowImageVerticalCollapsed
{
    width: 100vw;
    height: 10vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalCollapsed img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bd-placeholder-img 
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newsCardContainer
{
    max-height: 20%;
}

@media (min-width: 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }

    .newsCardContainer
    {
        max-height: 100%;
    }
}


.newsCardContainer .card
{
    max-height: 100%;
}