@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Secular+One&family=Varela+Round&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*font-family: 'Bangers', cursive;*/
/*font-family: 'Secular One', sans-serif;*/
/*font-family: 'Varela Round', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

html, body
{
    background-color: #72D563;
}

body 
{
    color: #5a5a5a;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar
{
    display: block;
    width: 0.7em;
}

.scrollbar::-webkit-scrollbar-track
{
    background-color: #494b54;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(215, 215, 215, 0.5);
    border-right: none;
    border-left: none;
    transition: background-color 1000ms;
}


.navbar-brand
{
    display: block;
    max-height: 9vh;
    max-width: 9vh;
    width: 8vh;
    height: auto;
}

.navbarButtonSizes
{
    width: 100%;
}

@media (max-width: 992px)
{
    .navbarButtonSizes
    {
        width: 10%;
    }

    .navbarButtonSizes li
    {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        background-color:  #032127;
    }
}



.nav-item
{
    margin: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #343a40;
    border-radius: 10px;
    display: flex;
    flex-basis: min-content;
}

div.navIcon
{
    margin: 0px 10px;
    display: flex;
    flex: fit-content;
    align-items: center;
    text-align: center;
}

.nav-item:hover
{
    background-color: #F1B761;
    transition: background-color 400ms;
}

.nav-item svg
{
    fill: #F1B761;
}

.nav-item:hover svg
{
    fill: #032127;
    transition: fill 400ms;
}

.nav-item i
{
    color: #f1b761;
    width: 20px;
    height: 24px;
    margin-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: color 400ms, margin-right 400ms;
}

.nav-item:hover i
{
    color: #032127;
    margin-right: 5px;
    transition: color 400ms, margin-right 400ms;
}

.nav-item span
{
    color: rgba(241,183,97, 0);
    font-size: 0;
    width: 0;
    padding: 0;
    margin: 0;
    transition: font-size 400ms, width 400ms, color 400ms;
}

.nav-item:hover span
{
    color: #14141d;
    font-size: 1rem;
    width: 100%;
    transition: font-size 400ms, width 400ms, color 400ms;
}

ul .active
{
    border-color: slategray;
    background-color: #4d5453;
}




.fullScreen
{
    position: relative;
    height: 100vh;
    padding-top: 10vh;
}

.screenArea 
{
    position: relative;
    height: 90vh;
}

.carousel-caption 
{
    z-index: 10;
}

.carousel-item 
{
    height: 90vh;
}

.carousel-item > img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.carousel-indicators li
{
    background-color: #D93654;
}

.carousel-control-prev, .carousel-control-next
{
    background-color: rgba(20, 20, 29, 0);
}

.carousel-control-prev:hover, .carousel-control-next:hover
{
    background-color: rgba(20, 20, 29, 0.2);
}

.carousel .carousel-control-next-icon
{
    padding: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d93654' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel .carousel-control-prev-icon
{
    padding: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d93654' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.grow
{
    flex-grow: 1;
    transition: all 400ms ease;
}

.shrink
{
    flex-shrink: 1;
    transition: all 400ms ease;
}

.zeroMarginPadding
{
    margin: 0;
    padding: 0;
}

.gameShowBorder 
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: outset;
    border-width: 5px;
    border-color: aliceblue;
}

.gameShowImageHorizontal
{
    height: 90vh;
    transition: all 400ms ease;
}

.gameShowImageHorizontal img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

#gamesShowdownHorizontal .col img
{
    filter: blur(0px);
    transition: filter 400ms;
}

#gamesShowdownHorizontal .col-1 img
{
    filter: blur(5px);
    transition: filter 400ms;
}


.gameShowImageVerticalExpanded
{
    width: 100vw;
    height: 70vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalExpanded img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gameShowImageVerticalCollapsed
{
    width: 100vw;
    height: 10vh;
    transition: all 400ms ease;
}

.gameShowImageVerticalCollapsed img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bd-placeholder-img 
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.all-news
{
    margin-left: 20px;
    margin-bottom: 1.5%;
    align-self: center;
    text-decoration: none;
    color: #1F9A75;
    transition: 0.2s;
}

.all-news:hover
{
    color: #f5fce8;
}


.newsCardContainer
{
    max-height: 20%;
}

@media (min-width: 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }

    .newsCardContainer
    {
        max-height: 100%;
    }
}

.card
{
    background-color: #1F9A75;
    border-radius: 8px;
	border-color: #167a5c;
	border-style: ridge;
    border-width: 3px;
    transition: 0.3s;
}

.card:hover
{
    border-color: #6af1c9;
    border-width: 3px;
}

.newsCardContainer .card
{
    max-height: 100%;
}

.card-header 
{
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
    padding: 2% 5%;
}

.card-header h3 , h5
{
    color: #f5fce8;
}


.title
{
    font-family: 'Bangers', cursive;
    letter-spacing: 1rem;
    color: #f5fce8;
}

.menu
{
    font-family: 'Secular One', sans-serif;
}

.text
{
    font-family: 'Varela Round', sans-serif;

}

.nav-link
{
    font-family: 'Secular One', sans-serif;
}

.card-title
{
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

.card-subtitle
{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.custom-scrollbar
{
    position: absolute;
    width: 800px;
    height: 400px;
    overflow-y: auto;
}


.photos-row div 
{
    padding: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.circle-photo
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding: 0;
    
}

#aboutUsPhoto
{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
}

#aboutUsPhoto img 
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 992px)
{
    .card-header h3, .card-header h5
    {
        font-size: 1.25rem;
        margin: 5px;
    }

    #aboutUsPhoto
    {
        height: 50%;
    }
}

.socialMediaRow div
{
    display: flex; justify-content: center; align-items: center;
    font-size: 10vh;
}

.socialMediaRow div i
{
    color: #F1B761;
    background-color: #1F9A75;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 400ms;
}

.socialMediaRow div i:hover
{
    color: #1F9A75;
    background-color: #F1B761;
    font-size: 13vh;
    transition: 400ms;
}